<br></br>

<div class="container text-center bg-info">  
  <p id="notice"><%= notice %></p>

  <h2>
    <strong></strong>
    <%= @project.title %>
  </h2>
</div>

<div class="container text-center bg-primary">  
  <p>
    <strong><em>Description:</em></strong>
      <%= @project.description %>
  </p>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
