<!DOCTYPE html>
<html>
  <head>
    <title>Cs3300</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CS3300</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <% if user_signed_in? %>
        <%= link_to 'Home', projects_path, :class => 'nav-item nav-link' %><span class="sr-only">(current)</span></a>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-item nav-link' %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-item nav-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'nav-item nav-link'  %><span class="sr-only">(current)</span></a>
        <%= link_to "Login", new_user_session_path, :class => 'nav-item nav-link'  %>
      <% end %>
    </div>
  </div>
</nav>

<p class="float-right">
  <% if user_signed_in? %>
    Logged in as:  <strong><%= current_user.email %></strong>
  <% end %>
</p>

  <body>
    <%= yield %>
  </body>
</html>
